<h1>Welcome to Admin page</h1>

<div class="table-responsive">
    <table class="table table-sm table-bordered border-secondary">
        <thead class="table-light">
            <tr>
                <th scope="col">Fonctionnalité</th>
                <th scope="col">Lien</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Role Manager</th>
                <th><a asp-controller="Admin" asp-action="Index">Accès</a></th>
            </tr>
        </tbody>
    </table>
</div>

