<h1>Welcome to Admin page</h1>

<div class="table-responsive">
    <table class="table table-sm border-secondary">
        <thead class="table-light">
            <tr>
                <th scope="col">Functionnality</th>
                <th scope="col">GetAll</th>
                <th scope="col">Create</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Role Manager</td>
                <td><a type="button " class="btn btn-primary" asp-controller="Role" asp-action="Index">GetAll</a></td>
                <td><a type="button "class="btn btn-success" asp-controller="Role" asp-action="Create">Create</a></td>
            </tr>
        </tbody>
    </table>
</div>