@model NumAndDrive.Areas.UserArea.ViewModels.Passenger.ResearchViewModel

<div class="row">
    <div class="col">
        <div class="card mb-3 custom-card-border-blue p-2 shadow-lg text-center">
            <h3 class="card-title"></h3>
            <div class="row mb-3">
                <div class="col-3">
                    <p>Longwy > Metz</p>
                </div>
                <div class="col-3">
                    <p>Lundi 19/02/2024</p>
                </div>
                <div class="col-3">
                    Horaire de départ : 07h00
                </div>
                <div class="col-3">
                    Modifier votre recherche
                </div>
            </div>
            <div class="card-body"></div>
        </div>
    </div>
</div>