@model NumAndDrive.ViewModels.Account.ConfirmEmailViewModel

<h3>Email Confirmation</h3>
<br />
<p>
    @Model.Message
</p>

<a asp-controller="UserProfile" asp-action="Edit">Configurer votre profil</a>
