@model NumAndDrive.ViewModels.Account.ConfirmEmailViewModel

<h3>Email Confirmation</h3>
<br />
<a href="@Model.ConfirmationLink">Lien de première connexion</a>

<a asp-controller="UserProfile" asp-action="Edit">Configurer votre profil</a>
