@model NumAndDrive.ViewModels.Account.LoginViewModel

<h3>User Login</h3>
<br />

<div class="card-group">
    <div class="card">
        <img src="~/images/LOGO - CARPOOL.svg" class="card-img-top img-fluid" />
    </div>
    <div class="card">
        <h3 class="card-title text-center">Portail de connexion</h3>
        <form method="post" class="card-text">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="UserName"></label>
                </div>
                <div class="col-8">
                    <input type="text" asp-for="UserName" class="form-control" />
                </div>
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>
            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Password"></label>
                </div>
                <div class="col-8">
                    <input type="password" asp-for="Password" class="form-control" />
                </div>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="form-group row mb-3">
                <div class="col-2">
                </div>
                <div class="col-8">
                    <input type="submit" class="btn btn-primary" value="Connexion" />
                </div>
                <div class="col-2">
                </div>
            </div>
        </form>
    </div>
</div>
