@model NumAndDrive.Areas.Admin.ViewModels.Role.DetailsRoleViewModel

<h1>Role Details</h1>

@if (Model != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Role Name</td>
                <td>Users</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Role.Name</td>
                <td>@Model.Users</td>
            </tr>
        </tbody>
    </table>
}
<div>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</div>
